:root {
    --red:#ec1813;
    --dark-blue:#1a354a;
    --mid-blue:#4e8aab;
    --light-blue:#7dd1ff;
    --extra-light-grey:#f1f1f1;
    --light-grey:#dbdbdb;
    --mid-grey:#9b9b9b;
    --dark-grey:#2f2f2f;
}